.silki a{
    justify-content: space-between;
    display: inline-block;
    text-decoration: none;
    background-color: #6c4024;
    color:white;
    padding: 10px 20px;
    border-radius:6px
}    
main{
    display: flex;
    background-image: url(images/image1.png);
    background-size: 100%;
    background-position: center;
    height:500px;
    background-repeat: no-repeat;
}
header{
    justify-content: space-between;
    background-color: #422b1c;
    padding: 10px 0;
    margin-top: 20px;
}
footer{
    background-color: #422b1c;
    text-align: center;
    padding: 20px 0;
    color: white;
    margin-top: 20px;   
}
main div{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    padding: 10px 20px;
    }